<% content_for :title do %>
  <%= "#{t('.title')} (#{Time.zone.today.year})" %>
<% end %>
<table class="table table-hover table-bordered align-middle caption-top">
  <thead class="table-light">
    <tr>
      <th scope="col"><%= Person.human_attribute_name('name') %></th>
      <% (1..12).each do |month| %>
        <th scope="col"><%= t('date.abbr_month_names')[month] %></th>
      <% end %>
      <th scope="col"><b><%= t('.total') %></b></th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <% total ||= {} %>
    <% Member.active.all.sort_by { |m| m.name }.each do |member| %>
      <% total[:member] = 0 %>
      <tr>
        <td scope="row"><%= member.name %></td>
        <% (1..12).each do |month| %>
          <td scope="row">
            <% invoice = @result.invoices.find { |i| i.member_id == member.id && i.reference_month == month }%>
            <% if invoice.present? %>
              <% if invoice.paid? %>
                <%
                  total[month.to_s] ||= 0
                  total[:year] ||= 0
                  total[month.to_s] += invoice.value
                  total[:year] += invoice.value
                  total[:member] += invoice.value
                %>
                <span class="badge bg-success"><%= number_to_currency(invoice.value, locale: :'pt-BR') %></span>
              <% else %>
                <span class="badge bg-danger"><%= t('.not_paid') %></span>
              <% end %>
            <% else %>
              <% if Date.today.month >= month %>
                <span class="badge bg-secondary"><%= t('.free') %></span>
              <% end %>
            <% end %>
          </td>
        <% end %>
        <td scope="row">
          <b><%= number_to_currency(total[:member], locale: :'pt-BR') %></b>
        </td>
      </tr>
    <% end %>
    <tr>
      <td scope="row"><b><%= t('.total') %></b></td>
      <% (1..12).each do |month| %>
        <td scope="row">
          <b><%= number_to_currency(total[month.to_s], locale: :'pt-BR') %></b>
        </td>
      <% end %>
      <td scope="row">
        <b><%= number_to_currency(total[:year], locale: :'pt-BR') %></b>
      </td>
    </tr>
  </tbody>
</table>
