<% content_for :title, t('.title') %>
<h3><%= t('.title') %></h3>

<%= form_with model: @invoice, url: invoices_batchs_path, method: :post do |form| %>
  <div class="row">
    <div class="col-md-6 mb-3">
      <%= form.label :category, class: 'form-label' %>
      <%= form_select(:category, invoice_category_options, form)%>
    </div>
    <div class="col-md-6 mb-3">
      <%= form.label :reference_month, class: 'form-label' %>
      <%= form_select(:reference_month, (1..12), form)%>
    </div>
    <div class="col-md-6 mb-3">
      <%= form.label :reference_year, class: 'form-label' %>
      <%= form_select(:reference_year, (2022..2025), form)%>
    </div>
  </div>
  <%= form.submit t('helpers.submit.create', model: Invoice.model_name.human), :class  => "btn btn-md btn-primary" %>
<% end %>
