<% content_for :title, t('.title') %>
<h3><%= t('.title') %></h3>

<%= form_with model: @invoice, url: invoices_batchs_path, method: :post do |form| %>
  <div class="row">
    <div class="col-md-6 mb-3">
      <%= form.label :category, class: 'form-label' %>
      <%= form_select(:category, invoice_category_options, form)%>
    </div>
    <div class="col-md-6 mb-3">
      <%= form.label :reference_date, class: 'form-label' %>
      <%= form.date_field :reference_date, class: 'form-control' %>
    </div>
  </div>
  <%= form.submit t('helpers.submit.create', model: Invoice.model_name.human), :class  => "btn btn-md btn-primary" %>
<% end %>
