<% content_for :title, t('.title') %>
<div class="btn-toolbar justify-content-between mb-1" role="toolbar">
  <h3><%= t('.title') %></h3>
  <div class="btn-group" role="group" aria-label="Basic example">
    <%= link_to new_invoices_batchs_path, class: 'btn btn-default' do %>
      Criar em lote
    <% end %>
    <%= link_to new_invoice_path(member_id: @member_id), class: 'btn btn-primary' do %>
      <i class="bi bi-plus"></i>
      <%= t('helpers.new') %>
    <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-hover table-bordered align-middle caption-top">
    <thead class="table-light">
      <tr>
        <th scope="col"><%= Member.model_name.human %></th>
        <th scope="col"><%= Invoice.human_attribute_name('category') %></th>
        <th scope="col"><%= Invoice.human_attribute_name('reference_month') %></th>
        <th scope="col"><%= Invoice.human_attribute_name('reference_year') %></th>
        <th scope="col"><%= Invoice.human_attribute_name('value') %></th>
        <th scope="col">Pago?</th>
        <th scope="col"><%= t('helpers.actions') %></th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <% @invoices.each do |invoice| %>
        <tr>
          <td><%= invoice.member.name %></td>
          <td><%= Invoice.human_attribute_name("category.#{invoice.category}") %></td>
          <td><%= invoice.reference_month %></td>
          <td><%= invoice.reference_year %></td>
          <td><%= number_to_currency(invoice.value, locale: :'pt-BR') %></td>
          <td><%= invoice.cash_flow_id.present? ? 'Sim' : 'Não' %></td>
          <td>
            <div class="btn-toolbar" role="toolbar">
              <%= link_to edit_invoice_path(invoice.id), class: 'btn btn-outline-primary btn-sm me-1' do %>
                <i class="bi bi-pencil"></i>
              <% end %>
              <%= button_to invoice_path(invoice.id), method: :delete,
                    form: {data: {turbo_confirm: 'Are you sure?'}}, class: 'btn btn-outline-danger btn-sm' do %>
                <i class="bi bi-trash3"></i>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
    <%= render partial: 'layouts/pagination' %>
  </table>
</div>
