<div class="row">
  <div class="col-md-6 mb-3">
    <%= form.label :category, class: 'form-label' %>
    <%= form_select(:category, cash_flow_category_options, form)%>
  </div>
  <div class="col-md-6 mb-3">
    <%= form.label :kind, class: 'form-label' %>
    <%= form_select(:kind, cash_flow_kind_options, form)%>
  </div>
  <div class="col-md-6 mb-3">
    <%= form.label Member.model_name.human, class: 'form-label' %>
    <%= form_select(:member_id, cash_flow_members, form)%>
  </div>
  <div class="col-md-6 mb-3"></div>
  <div class="col-md-6 mb-3">
    <%= form.label :moved_at, class: 'form-label' %>
    <%= form.date_field :moved_at, class: 'form-control', max: 0.days.after %>
  </div>
  <div class="col-md-6 mb-3">
    <%= form.label :value, class: 'form-label' %>
    <div class="input-group mb-3">
      <span class="input-group-text">R$</span>
      <%= form.number_field :value, step: 0.01, class: 'form-control' %>
    </div>
  </div>
  <div class="col-md-6 mb-3">
    <%= form.label :description, class: 'form-label' %>
    <%= form.text_field :description, class: 'form-control' %>
  </div>
</div>
