<button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#search-modal">
  <i class="bi bi-search"></i>
  <%= t('helpers.submit.search') %>
</button>
<div class="modal fade" id="search-modal" tabindex="-1" aria-labelledby="search-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="search-modal-label"><%= t('helpers.submit.search') %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <%= search_form_for @q do |form| %>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12 mb-3">
              <%= form.label Member.model_name.human, class: 'form-label' %>
              <%= form_select(:member_id_eq, cash_flow_members, form)%>
            </div>
            <div class="col-md-6 mb-3">
              <%= form.label :kind_eq, class: 'form-label' %>
              <%= form_select(:kind_eq, cash_flow_kind_options, form)%>
            </div>
            <div class="col-md-6 mb-3">
              <%= form.label :category_eq, class: 'form-label' %>
              <%= form_select(:category_eq, cash_flow_category_options, form)%>
            </div>
            <div class="col-md-6 mb-3">
              <%= form.label :moved_at_gteq, class: 'form-label' %>
              <%= form.date_field :moved_at_gteq, class: 'form-control' %>
            </div>
            <div class="col-md-6 mb-3">
              <%= form.label :moved_at_lteq, class: 'form-label' %>
              <%= form.date_field :moved_at_lteq, class: 'form-control' %>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <%= link_to 'Limpar',cash_flows_path, class: 'btn btn-outline-secondary' %>
          <%= form.submit t('helpers.submit.search'), :class  => "btn btn-md btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>