<% content_for :title do %>
  <%= "#{t('.title')} #{@result.month}/#{@result.year}" %>
<% end %>

<style>
  table, th, td, tr, tbody {
    border: none;
  }
  th {
    border-bottom: 1px solid;
  }
  h2 {
    margin-bottom: 0px;
  }
</style>

<% if @format == 'html' %>
  <div class="row">
    <div class="col-md-8 mb-3 text-end">
      <%= form_with url: reports_cash_flows_monthly_path(format: :pdf) , method: :get do |form| %>
        <%= form.hidden_field 'date', value: @date %>
        <%= form.submit 'Gerar PDF', class: "btn btn-md btn-outline-primary" %>
      <% end %>
    </div>
  </div>
<% end %>

<table class="table align-middle">
  <tbody>
    <tr><th scope="row" colspan="2"><h2><b><%= t('.input') %><b></h2></th></tr>
    <% input_value = 0 %>
    <% @result.memberships.sort.to_h.each do |_key, data| %>
      <% input_value += data[:value] %>
      <tr>
        <td scope="row"><%= "#{t('.membership_reference')} #{data[:label]}" %>:</td>
        <td scope="row"><%= number_to_currency(data[:value], locale: :'pt-BR') %></td>
      </tr>
    <% end %>
    <% @result.other_inputs.sort.to_h.each do |key, value| %>
      <% input_value += value %>
      <tr>
        <td scope="row"><%= CashFlow.human_attribute_name("category.#{key}") %>:</td>
        <td scope="row"><%= number_to_currency(value, locale: :'pt-BR') %></td>
      </tr>
    <% end %>
    <tr>
      <td scope="row"><%= t('.total') %></td>
      <td scope="row"><%= number_to_currency(input_value, locale: :'pt-BR') %></td>
    </tr>
    <tr><th scope="row" colspan="2"><h2><b><%= t('.output') %><b></h2></th></tr>
    <% output_value = 0 %>
    <% @result.other_outputs.sort.to_h.each do |key, value| %>
      <% output_value += value %>
      <tr>
        <td scope="row"><%= CashFlow.human_attribute_name("category.#{key}") %>:</td>
        <td scope="row"><%= number_to_currency(value, locale: :'pt-BR') %></td>
      </tr>
    <% end %>
    <tr>
      <td scope="row"><%= t('.total') %></td>
      <td scope="row"><%= number_to_currency(output_value, locale: :'pt-BR') %></td>
    </tr>
    <tr><th scope="row" colspan="2"><h2><b><%= t('.result') %><b></h2></th></tr>
    <tr>
      <td scope="row text-start"><%= t('.past_balance') %></td>
      <td scope="row"><%= number_to_currency(@result.past_balance, locale: :'pt-BR') %></td>
    </tr>
    <tr>
      <td scope="row"><%= t('.input_total') %></td>
      <td scope="row"><%= number_to_currency(@result.monthly_input, locale: :'pt-BR') %></td>
    </tr>
    <tr>
      <td scope="row"><%= t('.output_total') %></td>
      <td scope="row"><%= number_to_currency(@result.monthly_output, locale: :'pt-BR') %></td>
    </tr>
    <tr>
      <td scope="row"><%= t('.total') %></td>
      <td scope="row"><%= number_to_currency(@result.past_balance + @result.monthly_input - @result.monthly_output, locale: :'pt-BR') %></td>
    </tr>
  </tbody>
</table>
