<% content_for :title do %>
  <%= "#{t('.title')} (#{Time.zone.today.year})" %>
<% end %>
<table class="table table-hover table-bordered align-middle caption-top">
  <thead class="table-light">
  </thead>
  <tbody class="table-group-divider">
      <tr>
        <td scope="row">Saldo Inicial:</td>
        <td scope="row"><%= @result.past_balance %></td>
      </tr>
      <tr>
        <td scope="row">Total de Entrada:</td>
        <td scope="row"><%= @result.monthly_input %></td>
      </tr>
      <tr>
        <td scope="row">Total de Saida:</td>
        <td scope="row"><%= @result.monthly_output %></td>
      </tr>
      <tr>
        <td scope="row">Total:</td>
        <td scope="row"><%= @result.past_balance + @result.monthly_input - @result.monthly_output %></td>
      </tr>
      <% @result.memberships.each do |key, value| %>
        <tr>
          <td scope="row">Mensalidades do mês <%= key %>:</td>
          <td scope="row"><%= value %></td>
        </tr>
      <% end %>
  </tbody>
</table>
