<button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#search-modal">
  <i class="bi bi-search"></i>
  <%= t('helpers.submit.search') %>
</button>
<div class="modal fade" id="search-modal" tabindex="-1" aria-labelledby="search-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= search_form_for @q do |form| %>
        <div class="modal-header">
          <h5 class="modal-title" id="search-modal-label"><%= t('helpers.submit.search') %></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12 mb-3">
              <%= form.label :person_name_cont, class: 'form-label' %>
              <%= form.search_field(:person_name_cont, class: 'form-control')%>
            </div>
            <div class="col-md-12 mb-3">
              <%= form.label :nickname_cont, class: 'form-label' %>
              <%= form.search_field(:nickname_cont, class: 'form-control')%>
            </div>
            <div class="col-md-6 mb-3">
              <%= form.label :kind_eq, class: 'form-label' %>
              <%= form_select(:kind_eq, member_kind_options, form)%>
            </div>
            <div class="col-md-6 mb-3">
              <%= form.label :state_eq, class: 'form-label' %>
              <%= form_select(:state_eq, member_state_options, form)%>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <%= link_to 'Limpar', invoices_path, class: 'btn btn-outline-secondary' %>
          <%= form.submit t('helpers.submit.search'), :class  => "btn btn-md btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>