<% content_for :title, t('.title') %>
<h3><%= t('.title') %></h3>

<div class="table-responsive">
  <table class="table table-hover table-bordered  align-middle">
    <thead class="table-primary">
      <tr>
        <th scope="col"><%= Person.human_attribute_name('name') %></th>
        <th scope="col"><%= Person.human_attribute_name('blood_type') %></th>
        <th scope="col"><%= Member.human_attribute_name('nickname') %></th>
        <th scope="col"><%= Member.human_attribute_name('kind') %></th>
        <th scope="col"><%= Member.human_attribute_name('state') %></th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <% @members.each do |member| %>
        <tr>
          <td scope="row"><%= member.person.name %></td>
          <td><%= Person.human_attribute_name("blood_type.#{member.person.blood_type}") %></td>
          <td><%= member.nickname %></td>
          <td><%= Member.human_attribute_name("kind.#{member.kind}") %></td>
          <td><%= Member.human_attribute_name("state.#{member.state}") %></td>
          <td>Buttons</td>
        </tr>
      <% end %>
    </tbody>
    <%= render partial: 'layouts/pagination' %>
  </table>
</div>
