<% content_for :title, t('.title') %>
<div class="btn-toolbar justify-content-between mb-1" role="toolbar">
  <h3><%= t('.title') %></h3>
  
  <%= link_to new_member_path, class: 'btn btn-primary' do %>
    <svg width="12" height="12" role="img"><use xlink:href="#plus"/></svg>
    <%= t('helpers.new') %>
  <% end %>
</div>

<div class="table-responsive">
  <table class="table table-hover table-bordered align-middle caption-top">
    <thead class="table-light">
      <tr>
        <th scope="col"><%= Person.human_attribute_name('name') %></th>
        <th scope="col"><%= Person.human_attribute_name('blood_type') %></th>
        <th scope="col"><%= Member.human_attribute_name('nickname') %></th>
        <th scope="col"><%= Member.human_attribute_name('kind') %></th>
        <th scope="col"><%= Member.human_attribute_name('state') %></th>
        <th scope="col"><%= t('helpers.actions') %></th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <% @members.each do |member| %>
        <tr>
          <td scope="row"><%= member.person.name %></td>
          <td><%= Person.human_attribute_name("blood_type.#{member.person.blood_type}") %></td>
          <td><%= member.nickname %></td>
          <td><%= Member.human_attribute_name("kind.#{member.kind}") %></td>
          <td><%= Member.human_attribute_name("state.#{member.state}") %></td>
          <td>
            <a href="<%= edit_member_path(member.id)%>" class="btn btn-outline-primary btn-sm">
              <i class="bi bi-pencil"></i>
            </a>
          </td>
        </tr>
      <% end %>
    </tbody>
    <%= render partial: 'layouts/pagination' %>
  </table>
</div>
